* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: rgb(231, 240, 255);
}

.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 48px;
}

.App h1 {
  font-size: 3rem;
  margin: 4rem 0 0 0;
}

.App p {
  color: #1a1a1a;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.input-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-wrapper label {
  width: 130px;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background: coral;
  color: #fff;
}

.input-wrapper input[type="file"] {

  position: absolute;
  top: 6px;
  left: 34px;
  z-index: -1;
  font-size: 15px;
  color: #1a1a1a;
}

.language-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.result {
  margin-top: 4rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.result .box-image {
  background: #ffffff;
  height: 100%;
  padding: 1rem;
}

.result .box-p {
  background: #ffffff;
  height: 100%;
  padding: 1rem;
}

.result img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.result p {
  line-height: 1.5rem;
  font-size: 1rem;
  color: #1a1a1a;
}

@media (min-width: 1000px) {
  .result {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

.languageBar {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background: coral;
  color: #fff;
  outline: none;
}

.controlNav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.controlNav label {
  font-size: 14px;
  color: #1a1a1a;
}
